<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.platform.pojo.Admin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminName" column="adminName" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,adminName,password,
        level,createTime,updateTime,
        isDeleted
    </sql>

    <!--登录-->
    <select id="login" resultType="com.platform.pojo.Admin">
        select id,adminName,authority from admin where adminName = #{adminName} and password = #{password}
    </select>

    <!--通过adminName获取数据-->
    <select id="getByAdminName" resultType="com.platform.pojo.Admin">
        select adminName,isDeleted from admin where adminName = #{adminName}
    </select>

    <!--添加管理员-->
    <insert id="addAdmin">
        insert into admin (adminName,password,authority,createTime,isDeleted) values (#{admin.adminName},#{admin.password},
                                                                                  #{admin.authority},#{admin.createTime},#{admin.isDeleted})
    </insert>

    <!--删除管理员-->
    <delete id="deleteByAdminName">
        update admin set isDeleted = #{isDeleted},updateTime = #{updateTime} where adminName = #{adminName}
    </delete>

    <!--更新管理员信息-->
    <update id="updateByAdminName">
        update admin set password = #{admin.password},authority = #{admin.authority}, updateTime = #{admin.updateTime}, isDeleted = #{admin.isDeleted} where adminName = #{admin.adminName}
    </update>

    <!--根据adminName模糊查询管理员-->
    <select id="selectAdmin" resultType="com.platform.pojo.vo.AdminVo">
        select adminName ,authority ,isDeleted from admin
        <where>
            <if test="adminVo.adminName != null">
                adminName like CONCAT('%',#{adminVo.adminName},'%')
            </if>
            <if test="adminVo.authority != null">
                and authority = #{adminVo.authority}
            </if>
            <if test="adminVo.isDeleted != null">
                and isDeleted = #{adminVo.isDeleted}
            </if>>
            limit #{adminVo.pageNum},#{adminVo.pageSize}
        </where>
    </select>
</mapper>
