<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.BookTypeMapper">

    <resultMap id="BaseResultMap" type="com.platform.pojo.BookType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="bookId" column="bookId" jdbcType="BIGINT"/>
            <result property="typeId" column="typeId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bookId,typeId
    </sql>

    <insert id="addBookType">
        insert into book_type (bookId,typeId) values (#{bookVo.id},#{bookVo.typeId})
    </insert>

    <update id="updateBookType">
        update book_type set typeId = #{bookVo.typeId} where bookId = #{bookVo.id}
    </update>
</mapper>
