<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.PublishingHouseMapper">

    <resultMap id="BaseResultMap" type="com.platform.pojo.PublishingHouse">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="publishname" column="publishName" jdbcType="VARCHAR"/>
            <result property="publishAddress" column="publishAddress" jdbcType="VARCHAR"/>
            <result property="publishPhone" column="publishPhone" jdbcType="BIGINT"/>
            <result property="publishEmail" column="publishEmail" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,publishName,publishAddress,
        publishPhone,publishEmail,createTime,
        updateTime,isDeleted
    </sql>

    <!--添加出版社-->
    <insert id="addPublish">
        insert into publishing_house (publishName,publishAddress,publishPhone,publishEmail,createTime,isDeleted)
               values (#{publishName},#{publishAddress},#{publishPhone},#{publishEmail},now(),#{isDeleted})
    </insert>

    <!--(批量)删除-->
    <update id="removePublishsById">
        <foreach collection="publishingHouses" item="publishingHouse" separator=";">
            update publishing_house set isDeleted = #{publishingHouse.isDeleted},updateTime = now() where id = #{publishingHouse.id}
        </foreach>
    </update>

    <!--(批量)登记-->
    <update id="listPublishsById">
        <foreach collection="publishingHouses" item="publishingHouse" separator=";">
            update publishing_house set isDeleted = #{publishingHouse.isDeleted},updateTime = now() where id = #{publishingHouse.id}
        </foreach>
    </update>

    <!--修改出版社-->
    <update id="updatePublish">
        update publishing_house set publishName = #{publishName}, publishAddress = #{publishAddress},
                                        publishPhone = #{publishPhone}, publishEmail = #{publishEmail},
                                        updateTime = now(), isDeleted = #{isDeleted}
        where id = #{id}
    </update>

    <!--根据条件查询出版社-->
    <select id="selectPublish" resultType="com.platform.pojo.vo.PublishingHouseVo">
        select * from  publishing_house
        <where>
                isDeleted = 0
            <if test="publishingHouseVo.publishName != null">
                and publishName like CONCAT('%',#{publishingHouseVo.publishName},'%')
            </if>
            <if test="publishingHouseVo.publishAddress != null">
                and publishAddress like CONCAT('%',#{publishingHouseVo.publishAddress},'%')
            </if>
            <if test="publishingHouseVo.publishPhone != null">
                and publishPhone like CONCAT('%',#{publishingHouseVo.publishPhone},'%')
            </if>
        </where>
        limit #{publishingHouseVo.current},#{publishingHouseVo.size}
    </select>

    <!--根据条件查询出版社数量-->
    <select id="selectNumber" resultType="Integer">
        select count(*)
        from  publishing_house
        <where>
                isDeleted = 0
            <if test="publishingHouseVo.publishName != null">
                and publishName like CONCAT('%',#{publishingHouseVo.publishName},'%')
            </if>
            <if test="publishingHouseVo.publishAddress != null">
                and publishAddress like CONCAT('%',#{publishingHouseVo.publishAddress},'%')
            </if>
            <if test="publishingHouseVo.publishPhone != null">
                and publishPhone like CONCAT('%',#{publishingHouseVo.publishPhone},'%')
            </if>
        </where>
    </select>

    <!--查询出版社名称-->
    <select id="selectPublishName" resultType="com.platform.pojo.vo.PublishingHouseVo">
        select publishName from publishing_house where id = #{id}
    </select>

</mapper>
