<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.PublishingHouseMapper">

    <resultMap id="BaseResultMap" type="com.platform.pojo.PublishingHouse">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="publishname" column="publishName" jdbcType="VARCHAR"/>
            <result property="publishAddress" column="publishAddress" jdbcType="VARCHAR"/>
            <result property="publishPhone" column="publishPhone" jdbcType="BIGINT"/>
            <result property="publishEmail" column="publishEmail" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,publishName,publishAddress,
        publishPhone,publishEmail,createTime,
        updateTime,isDeleted
    </sql>

    <!--根据id查询出版社-->
    <select id="getPublishingHouseById" resultType="com.platform.pojo.PublishingHouse">
        select * from publishing_house where id = #{id}
    </select>

    <!--添加出版社-->
    <insert id="addPublish" useGeneratedKeys="true" keyProperty="id">
        insert into publishing_house (publishName,publishAddress,publishPhone,publishEmail,createTime,isDeleted)
               values (#{publishName},#{publishAddress},#{publishPhone},#{publishEmail},#{createTime},#{isDeleted})
    </insert>

    <!--(批量)删除-->
    <update id="removePublishsById">
        <foreach collection="publishingHouses" item="publishingHouse" separator=";">
            update publishingHouse set isDeleted = #{publishingHouse.isDeleted},updateTime = #{publishingHouse.updateTime} where id = #{publishingHouse.id}
        </foreach>
    </update>

    <!--(批量)登记-->
    <update id="listPublishsById">
        <foreach collection="publishingHouses" item="publishingHouse" separator=";">
            update publishingHouse set isDeleted = #{publishingHouse.isDeleted},updateTime = #{publishingHouse.updateTime} where id = #{publishingHouse.id}
        </foreach>
    </update>

    <!--修改出版社-->
    <update id="updatePublish">
        update bopublishing_house set publishName = #{publishName}, publishAddress = #{publishAddress},
                                        publishPhone = #{publishPhone}, publishEmail = #{publishEmail},
                                        updateTime = #{updateTime}, isDeleted = #{isDeleted},
    </update>

    <!--根据条件查询出版社-->
    <select id="selectPublish" resultType="com.platform.pojo.PublishingHouse">
        select * from  bopublishing_house
        <where>
            <if test="publishName != null">
                publishName like CONCAT('%',#{PublishingHouseVo.publishName},'%')
            </if>
            <if test="publishAddress != null">
                and publishAddress like CONCAT('%',#{PublishingHouseVo.publishAddress},'%')
            </if>
            <if test="publishPhone != null">
                and publishPhone like CONCAT('%',#{PublishingHouseVo.publishPhone},'%')
            </if>

            limit #{PublishingHouseVo.pageNum},#{PublishingHouseVo.pageSize}
        </where>

    </select>
</mapper>
