<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.SlideMapper">


    <select id="queryAllPage" resultType="com.platform.pojo.Slide">
        select slide.id,
               slide.imgUrl,
               slide.isDisplay,
               slide.createTime,
               slide.updateTime,
               slide.isDelete
        from slide
    </select>

    <update id="deleteBatchSlideIds">
        <foreach collection="ids" item="id" separator=";">
            update slide
            set slide.isDisplay = 0,updateTime = now() where slide.id = #{id}
        </foreach>
    </update>

    <update id="listBatchSlideIds">
        <foreach collection="ids" item="id" separator=";">
            update slide
            set slide.isDisplay = 1,updateTime = now() where slide.id = #{id}
        </foreach>
    </update>

    <!--查询轮播图数量-->
    <select id="selectTotal" resultType="Integer">
        select count(*)
        from slide
    </select>

</mapper>
