<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.platform.pojo.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="accountNumber" column="accountNumber" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="username" column="userName" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phoneNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,accountNumber,password,
        userName,phoneNumber
    </sql>
</mapper>
